* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  background-color:#9A79A6;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

a, h2, h3, h4, h5{
  color: black;

}

 a {
  color: black;
}

footer {
  padding: 2% 0;
  background-color:#8B5D9C;
}

.button-outline{
 padding: 10px;
}

p{
  color: black;
  font-weight: 100;
  padding: 80px;
  line-height: 2;
}



.nav-bar {
  width: 100%;
  position: static;
  overflow: auto;
  display: block;
  list-style: none;
  background-color: #8B5D9C;
  border-bottom: solid black 6px;
}

#menu{
  display: flex;
  list-style: none;
  float: left;
}


header {
  background-image: url("downtown-harbor.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  padding: 12% 0;
  color: black;
  border-bottom: solid black 6px;
}

#headline {
  
}

section {
  position: static;
  margin: auto;
  width: 70%;
}

/*doesn't float */
#bio {
  display: block;
  float: right;
}

#me {
  transform: rotate(-90deg);
}



img {
  display: block;
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 70%;
}

.fa{
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.cnt {
  size: 10;
}

/* IDK if I want this here!
@media only screen and (min-width: 500px){
  .contact-for-mobile{
    display: none;
  }
}
*/