* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif; 
  font-size: 18px;
  background-color:#602C73;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

main {
  background-image: url("./pictures/downtown-harbor.JPG");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: black;
}

#headline {
  color: #5C164E;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  width: 100%;
  height: 50px;
  padding: 5px;
  position: static;
  overflow: auto;
  display: block;
  list-style: none;
  background-color: #00635D;
  border-bottom: solid thin #000501;
}

.nav-link {
  float: left;
  height: auto;
  border-radius: 5px;
  padding-top: 5px;
  margin: 5px;
  color: #B8C4BB;
}

.nav-link:hover {
  background-color: #5C164E;
  border-radius: 5px;
  height: auto;
  padding: 4px;
}

a {
  color: #5C164E;
  text-decoration: none;
  font-weight: bold;
}

#wix {
  text-decoration: none;
  color: #5C164E;
}

#wix:hover {
  color: #00635D ;
}

h1, h2, #wix {
  font-family: 'Ovo', serif;
}

h3, h4, h5 {
  color: ivory;
  font-family: 'Muli', sans-serif;
}

h5 {
  color: #9A79A6;
}

footer {
  padding: 2% 0;
  background-color:#8B5D9C;
}

li {
  padding: 10px;
}

p {
  font-family: 'Muli', sans-serif;
  color: ivory;
  font-weight: 100;
  line-height: 2;
}

section {
  margin: auto;
  width: 80%;
  border: solid 4px;
  height: auto;
  margin-top: 10px;
  padding: 10px;
}

/*I want the photo and bio paragraph (#sum) 
to sit next to each other!!! */

#sum{
  padding: 10px;
}

#me {
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#quiz-pic {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project-buttons {
  padding: 5px;
  margin: 5px;
  border: black 2px;
}

img {
  display: block;
  border: 3px solid;
}

.fa{
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: #9A79A6;
}

/*.cnt {
  size: 10;
}

/* IDK if I want this here!
@media only screen and (min-width: 500px){
  .contact-for-mobile{
    display: none;
  }
}
*/