$dark-purple: #4C1E4F;
$lavender: #DFCBEF;
$red: #ED6A5A;
$yellow: #FABC2A;
$teal: #23F0C7;
$off-white: #FFFAF0;

$sub-font: 'Ovo', serif;
$main-font: 'Muli', sans-serif; 


* {
  box-sizing: border-box;
}

body {
  font-family: $sub-font; 
  font-size: 20px;
  background-color: $off-white;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

h1, h2{
  font-family: $main-font;
  color: $dark-purple;
}

h3, h4, h5 {
  font-family: $sub-font;
  color: $dark-purple;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  list-style: none;
  background-color: $teal;
  box-shadow: 2px 2px 20px #474747;
  z-index: 1;
}

.nav-link {
  float: left;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: $dark-purple;
}
.nav-link:hover {
  background-color: $yellow;
  border-radius: 5px;
  height: auto;
  padding: 4px;
}

#nav-icons .fa {
  float: right;
  color: $dark-purple;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

#nav-icons .fa:hover {
  background-color: $yellow;
  border-radius: 5px;
  height: auto;
  padding: 4px;
}

#hero {
  //background-image: url("pictures/downtown-harbor.JPG");
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $yellow;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: black;
  top: 45px;
  z-index: -1;
}

.dot {
  position: absolute;
  border-radius: 50%;
  background-color: $red;
  width: 1vw;
  height: 1vw;
  z-index: 1;
}

@media only screen and (max-width: 502px) {
  #nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link {
    float: none;
  }
  #nav-bar a {
    font-size: 18px;
  } 
 
  #nav-icons {
    display: none;
  }
}

#cutout {
  position: absolute;
  bottom: 0;
  width: 50%;
}

#headline {
  color: $dark-purple;
  width: 50%;
  position: absolute;
  top: 15%;
  right: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  h1 {
    font-size: 5vw;
    line-height: .5em;
  }
  h2 {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 1041px) {
  
  #headline {
    top: 5%;
    width: 90%;
    
    h1 {
      font-size: 8vw;
      line-height: 0.5;
    }

    h2 {
      font-size: 4vw;
      position: relative;
      line-height: 0;
    }
  }

  #hero {
    height: 90vh;
  }
}

// @media only screen and (max-width: 750px) {
//   
// }

#bio {
  display: flex;
  align-items: center;
  position: relative;
  height: 40vh;
  top: 108vh;
  background: #b388eb6b;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  font-size: 2vw;
  box-shadow: -2px 2px 10px #474747;
  
}

#smiley {
  max-width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  position: relative;
  background-color: $lavender;
  padding-top: 20px;
  top: 110vh; 
  margin: 30px;
  border-radius: 10px;
  box-shadow: -2px 2px 10px #474747;
}

h1 {
    font-size: 5vw;
  }

.project {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  h2 {
    line-height: 0;
    font-size: 3.5vw;
  }

  a {
    color: $dark-purple;
    font-size: 3vw;
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: solid 2px $dark-purple;
    border-radius: 5px;
  }

  a:hover {
    background-color: $teal;
  }

  img {
    width: 50%;
    border: solid $dark-purple 2px;
    border-radius: 10px;
  }

  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.project:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
  .project, .project:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }

  #cutout {
    width: 80%;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 113vh;
  height: 100vh;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}


#contact-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#contact-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

p {
  font-family: $sub-font;
  color:$dark-purple;
  font-weight: bolder;
  font-size: 2.5vw;
  line-height: 2;
}

.section-content {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.fa{
  text-align: center;
  font-size: 40px;
  padding: 30px;
  color: #5C164E;
}

footer {
  position: relative;
  background-color: $dark-purple;
  font-size: small;
  top: 110vh;
  height: 40px;
  padding-top: 10px;
  color: $off-white;
  box-shadow: 2px -2px 10px #474747;
}
